body {
  background-image: url('/image/thumb-1920-613663.png');
  background-size: cover;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
}

table {
  margin: auto;
  background-color: white;
  width: 50%;
  height: 30%;
}

#IconID img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
}
#IconTier img {
  
  width: 90px;
  height: 100px;
  display: flex;
  justify-content: center;
}