body {
  background-image: url('/image/thumb-1920-613663.png');
  background-size: cover;
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
}

table {
  margin: auto;
  background-color: #1F2428;
  width: 50%;
  height: 30%;
}

td {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: x-large;
  color: white;
}



#nickName {
  font-size: xx-large;
  font-weight: bold;
}

#IconID img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
}

#IconTier img {
  width: 90px;
  height: 100px;
  display: flex;
  justify-content: center;
}

.semi-donut {
  width: 200px;
  height: 100px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.semi-donut:after {
  content: '';
  width: 200px;
  height: 200px;
  border: 50px solid;
  border-color: blue blue var(--fill) var(--fill);
  position: absolute;
  border-radius: 50%;
  left: 0;
  top: 0;
  box-sizing: border-box;
  transform: rotate(calc(1deg * (-45 + var(--percentage) * 1.8)));
  animation: fillAnimation 1s ease-in;
}

